<a href="https://colab.research.google.com/github/Alicia-a19/TADM-MUMADE/blob/main/TADM2022_S03a_Creaci%C3%B3n_de_BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CREACIÓN DE BASES DE DATOS

Estudiante: Alicia Megía Ortega

Enlaces para entender la base de datos y las relaciones entre las tablas existentes en esta.

[Guia al Conjunto de Datos](https://sorry.vse.cz/~berka/challenge/pkdd1999/berka.htm)

[Extracto del Diseño](https://dbdesigner.page.link/7iRemaQAUMsbFb2o7)

# Creación de la Base de Datos

Importamos las librerías Python que vamos a utilizar para acceder a las bases
de datos.

La librería sqlite3 permite manejar SQL en Python.  

Pandas es una librería de Python especializada en la manipulación y el análisis de datos.

In [ ]:
import pandas as pd
import sqlite3 as sql
import codecs


Vamos a crear nuestra base de datos. 

SQLite se maneja a nivel de fichero, si este no exite entonces de crea. En Colab siempre de forma no permanente. 

Para manejar este fichero manejaremos el objeto de **conexión** a la base de datos.  

>Una **conexión** a base de datos es la forma que un servidor de base de datos y su software cliente se comunican entre sí. 

>El cliente utiliza una conexión a base de datos para enviar comando y recibir respuestas del servidor

Es necesario conectarse a la Base de Datos.

In [ ]:
dbfile = "data_berka.db"

con = sql.connect(dbfile)
con

Lo siguiente vamos a crear es una **tabla** de las que tenemos. Normalmente crearemos aquella que no contiene claves ajenas como district. 

Para ello con la sentencia CREATE identificamos los atributos que va a tener la tabla.

Se podría poner no nulo.  
INTEGER: valores enteros (int).  
REAL: valores reales (float).  
TEXT: valores caracteres (string).

```
CREATE TABLE <nombre_tabla> (
  <nombre_campo> <tipo campo> <primary key, not null, etc.>,
  ...
  FOREIGN KEY (<nombre_campo_fk) 
     REFERENCES <nombre_tabla_referencia> (<nombre_pk_tabla_referencia>)
)
```
Los tipos de datos que se manejan en SQLite se pueden consultar en [SQLite Data Types](https://www.sqlite.org/datatype3.html)

## Tabla District

Cargamos los datos de nuestra fuente de datos

Se empieza por las tablas que no tienen claves ajenas.

Nombre de la tabla y extensión asc.

wget permite la descarga de contenidos

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/district.asc

--2022-11-16 07:44:57--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/district.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6574 (6.4K) [text/plain]
Saving to: ‘district.asc’

district.asc        100%[===================>]   6.42K  --.-KB/s    in 0s

2022-11-16 07:44:57 (29.0 MB/s) - ‘district.asc’ saved [6574/6574]

Para crear la tabla ejecutaremos execute y la sentencia CREATE correspondiente

Se introducen entre paréntesis los nombres de campo, tipo y restricción.  
Cadenas de caracteres (text), númerico (real e int)
Se ha de identificar la clave primaria.

CREATE TABLE 'nombre' (campo tipo restricción)

' + y '(línea siguiente) para cambiar de línea

In [ ]:
con.execute('CREATE TABLE DISTRICT (A1 INT PRIMARY KEY, A2 TEXT, A3 TEXT, A4 INT,A5 INT, A6 INT,' + 
  'A7 INT, A8 INT, A9 INT, A10 REAL, A11 INT, A12 REAL, A13 REAL, A14 INT, A15 INT, A16 INT)')


Finalmente "guardaremos los cambios" con **commit**

> Una sentencia **COMMIT** en SQL finaliza una transacción de base de datos dentro de un sistema gestor de base de datos relacional (RDBMS) y hace visibles todos los cambios a otros usuario

COMMIT es el procedimientro transaccional (comprometer los datos)

In [ ]:
con.commit()

Cualquier ejecución de una sentencia SQL sobre la base de datos nos crea un cursor el cual utilizaremos sobre todo para las consultas 

> Cursor se refiere a una estructura de control utilizada para el recorrido (y potencial procesamiento) de los registros del resultado de una consulta.

Forma básica de realizar una consulta a una base de datos.
Siempre da las tablas que se han creado dentro de la base de datos.

In [ ]:
cursor = con.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [
     v[0] for v in cursor.fetchall()
     if v[0] != "sqlite_sequence"
]
cursor.close()
tables

['DISTRICT']

3. Cargamos los datos de la tabla

En este caso lo vamos a hacer mediante la utilización de una librería de Python como es PANDAS

Uso de dos comandos de PANDAS.
Primero se leen los datos en este caso formato .csv, fichero y separador de campos.  
Segundo se indica a donde irán los datos, si existe se añadirán.

In [ ]:
pd.read_csv('district.asc', sep = ";" ).to_sql('DISTRICT', con, if_exists='append', index = False)

pd (librería pandas)

4. Vamos a consultar los datos que tiene esta tabla que acabamos de cargar

Sentencia de comprobación de creación de una tabla.

In [ ]:
pd.read_sql_query("SELECT * FROM DISTRICT", con)

## Cargar resto de tablas

### Tabla Account

1. Obtener el fichero de datos

!wget dirección, nombre y .asc

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/account.asc

--2022-11-16 07:45:15--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/account.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 155356 (152K) [text/plain]
Saving to: ‘account.asc’

account.asc         100%[===================>] 151.71K  --.-KB/s    in 0.02s

2022-11-16 07:45:15 (6.67 MB/s) - ‘account.asc’ saved [155356/155356]

2. Crear la tabla con CREATE

IF NO EXISTS ACCOUNT
Campo, tipo, restricción (separado por ',')
Clave ajena: FOREIGN KEY y se ha de indicar la referencia.

Se realiza un commit.

In [ ]:
con.execute('CREATE TABLE IF NOT EXISTS ACCOUNT (account_id INT PRIMARY KEY, district_id INT, frequency TEXT, date INT, '
      + 'FOREIGN KEY (district_id) REFERENCES district (A1))')
con.commit()

3. Cargamos los datos de la tabla

In [ ]:
pd.read_csv('account.asc', sep = ";" ).to_sql('ACCOUNT', con, if_exists='append', index = False)

4. Comprobamos los datos

Se limita la visualización de datos a 10

In [ ]:
pd.read_sql_query("SELECT * FROM ACCOUNT LIMIT 10", con)

   account_id  district_id           frequency    date
0         576           55    POPLATEK MESICNE  930101
1        3818           74    POPLATEK MESICNE  930101
2         704           55    POPLATEK MESICNE  930101
3        2378           16    POPLATEK MESICNE  930101
4        2632           24    POPLATEK MESICNE  930102
5        1972           77    POPLATEK MESICNE  930102
6        1539            1  POPLATEK PO OBRATU  930103
7         793           47    POPLATEK MESICNE  930103
8        2484           74    POPLATEK MESICNE  930103
9        1695           76    POPLATEK MESICNE  930103

#### Manipulamos estos datos

Vamos a utilizar la sentencia UPDATE para traducir del checo al inglés

In [ ]:
con.execute("UPDATE ACCOUNT SET frequency = 'monthly' WHERE frequency = 'POPLATEK MESICNE'")
con.execute("UPDATE ACCOUNT SET frequency = 'weekly' WHERE frequency = 'POPLATEK TYDNE'")
con.execute("UPDATE ACCOUNT SET frequency = 'after_tr' WHERE frequency = 'POPLATEK PO OBRATU'")
con.commit()

In [ ]:
pd.read_sql_query("SELECT * FROM ACCOUNT LIMIT 10", con)

   account_id  district_id frequency    date
0         576           55   monthly  930101
1        3818           74   monthly  930101
2         704           55   monthly  930101
3        2378           16   monthly  930101
4        2632           24   monthly  930102
5        1972           77   monthly  930102
6        1539            1  after_tr  930103
7         793           47   monthly  930103
8        2484           74   monthly  930103
9        1695           76   monthly  930103

### Tabla Client

1. Descarga de los datos

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/client.asc

--2022-11-16 07:46:15--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/client.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 94820 (93K) [text/plain]
Saving to: ‘client.asc’

client.asc          100%[===================>]  92.60K  --.-KB/s    in 0.01s

2022-11-16 07:46:15 (6.38 MB/s) - ‘client.asc’ saved [94820/94820]

2. Creación de la tabla

In [ ]:
con.execute('CREATE TABLE IF NOT EXISTS CLIENT (client_id INT PRIMARY KEY, birth_number TEXT, district_id TEXT, '
      + 'FOREIGN KEY (district_id) REFERENCES district (A1))')
con.commit()

3. Carga de los datos a la tabla

In [ ]:
pd.read_csv('client.asc', sep = ";" ).to_sql('CLIENT', con, if_exists='append', index = False)

4. Comprobar que la creación y la carga se ha hecho bien

LIMIT valor  
Permite limitar la visualización de datos al número especificado

In [ ]:
pd.read_sql_query("SELECT * FROM CLIENT LIMIT 10", con)

   client_id birth_number district_id
0          1       706213          18
1          2       450204           1
2          3       406009           1
3          4       561201           5
4          5       605703           5
5          6       190922          12
6          7       290125          15
7          8       385221          51
8          9       351016          60
9         10       430501          57

5. Código para borrado después de un diseño incorrecto

In [ ]:
con.execute("DROP TABLE CLIENT");
con.commit()

### Tabla Disposition

1. Descarga de los datos

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/disp.asc

--2022-11-16 07:46:52--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/disp.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129716 (127K) [text/plain]
Saving to: ‘disp.asc’

disp.asc            100%[===================>] 126.68K  --.-KB/s    in 0.02s

2022-11-16 07:46:52 (5.89 MB/s) - ‘disp.asc’ saved [129716/129716]

2. Creación de la tabla

La tabla disposition es una tabla puente.  
Tabla puente para poder realizar la relación N:N (muchos a muchos).  
Se ha de hacer referencia a la existencia de dos claves ajenas.

Se escribe CREATE TABLE IF NOT EXISTS nombre  
Para no sobreescribir una tabla existente, no crear una misma tabla 2 veces o no nombrar una tabla con el mismo nombre ya existente en la base de datos

In [ ]:
con.execute('CREATE TABLE IF NOT EXISTS DISPOSITION (disp_id INT PRIMARY KEY, client_id INT, account_id INT, type text, '
      + 'FOREIGN KEY (client_id) REFERENCES client (client_id), '
      + 'FOREIGN KEY (account_id) REFERENCES account (account_id))') 
con.commit()

Al existir dos claves ajenas (FOREIGN KEY) se ponen en líneas separadas y se ha de especificar la tabla a la que referencian

3. Carga de los datos a la tabla

In [ ]:
pd.read_csv('disp.asc', sep = ";" ).to_sql('DISPOSITION', con, if_exists='append', index = False)

4. Comprobación de la tabla

In [ ]:
pd.read_sql_query("SELECT * FROM DISPOSITION LIMIT 10", con)

   disp_id  client_id  account_id       type
0        1          1           1      OWNER
1        2          2           2      OWNER
2        3          3           2  DISPONENT
3        4          4           3      OWNER
4        5          5           3  DISPONENT
5        6          6           4      OWNER
6        7          7           5      OWNER
7        8          8           6      OWNER
8        9          9           7      OWNER
9       10         10           8      OWNER

5. Borrado de la tabla.  
En caso de error en la carga de esta o de los datos  
Ejecutar este código

In [ ]:
con.execute("DROP TABLE DISPOSITION")
con.commit()

### Tabla Loan

1. Descargar los datos

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/loan.asc

--2022-11-16 07:50:07--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/loan.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27037 (26K) [text/plain]
Saving to: ‘loan.asc.1’

loan.asc.1          100%[===================>]  26.40K  --.-KB/s    in 0.002s

2022-11-16 07:50:07 (13.5 MB/s) - ‘loan.asc.1’ saved [27037/27037]

2. Crear la tabla

date formato: YYMMDD se puede poner como entero o como caracter (text o int)

FOREIGN KEY (campo en la tabla) REFERENCES tabla ref (pk de la tabla ref)

In [ ]:
con.execute("CREATE TABLE IF NOT EXISTS LOAN (loan_id INT PRIMARY KEY, account_id INT, date TEXT, amount INT, "
          + "duration INT, payments REAL, status TEXT, "
          + "FOREIGN KEY (account_id) REFERENCES ACCOUNT (account_id) )") 
con.commit()

3. Carga de los datos a la tabla

In [ ]:
pd.read_csv('loan.asc', sep = ";" ).to_sql('LOAN', con, if_exists='append', index = False)

4. Comprobación de que los datos se han cargado correctamente en la tabla creada

In [ ]:
pd.read_sql_query("SELECT * FROM LOAN LIMIT 10", con)

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12    8033.0      B
1     5316        1801  930711  165960        36    4610.0      A
2     6863        9188  930728  127080        60    2118.0      A
3     5325        1843  930803  105804        36    2939.0      A
4     7240       11013  930906  274740        60    4579.0      A
5     6687        8261  930913   87840        24    3660.0      A
6     7284       11265  930915   52788        12    4399.0      A
7     6111        5428  930924  174744        24    7281.0      B
8     7235       10973  931013  154416        48    3217.0      A
9     5997        4894  931104  117024        24    4876.0      A

5. Código de borrado después de un diseño incorrecto

Permite borrar la tabla creada

In [ ]:
con.execute("DROP TABLE LOAN")
con.commit()

### Tabla Transactions

1. Cargar los datos a la base de datos creada

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/trans.asc

--2022-11-16 08:00:21--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/trans.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 69406578 (66M) [text/plain]
Saving to: ‘trans.asc’

trans.asc           100%[===================>]  66.19M   218MB/s    in 0.3s

2022-11-16 08:00:22 (218 MB/s) - ‘trans.asc’ saved [69406578/69406578]

2. Crear la tabla en la base de datos

- Variables categóricas:  
TEXT or VARCHAT  
- Variables numéricas:  
INT   
DECIMAL or REAL

In [ ]:
con.execute('CREATE TABLE IF NOT EXISTS  TRANSACTIONS (trans_id	INT PRIMARY KEY, account_id	INT, date INT, type TEXT, operation TEXT,'
 + 'amount REAL, balance REAL, k_symbol VARCHAT, bank VARCHAT, account INT, ' 
 + 'FOREIGN KEY (account_id) REFERENCES account (account_id))')
con.commit()

3. Cargar los datos en la tabla creada

In [ ]:
pd.read_csv('trans.asc', sep = ";" ).to_sql('TRANSACTIONS', con, if_exists='append', index = False)

4. Comprobar la carga de los datos en la tabla creada

In [ ]:
pd.read_sql_query("SELECT * FROM TRANSACTIONS LIMIT 10", con)

,trans_id,account_id,date,type,operation,amount,balance,k_symbol,bank,account
0,695247,2378,930101,PRIJEM,VKLAD,700.0,700.0,None,None,None
1,171812,576,930101,PRIJEM,VKLAD,900.0,900.0,None,None,None
2,207264,704,930101,PRIJEM,VKLAD,1000.0,1000.0,None,None,None
3,1117247,3818,930101,PRIJEM,VKLAD,600.0,600.0,None,None,None
4,579373,1972,930102,PRIJEM,VKLAD,400.0,400.0,None,None,None
5,771035,2632,930102,PRIJEM,VKLAD,1100.0,1100.0,None,None,None
6,452728,1539,930103,PRIJEM,VKLAD,600.0,600.0,None,None,None
7,725751,2484,930103,PRIJEM,VKLAD,1100.0,1100.0,None,None,None
8,497211,1695,930103,PRIJEM,VKLAD,200.0,200.0,None,None,None
9,232960,793,930103,PRIJEM,VKLAD,800.0,800.0,None,None,None

### Tabla Credit Card

1. Obtención de los datos

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/card.asc

--2022-11-16 07:50:29--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/card.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31588 (31K) [text/plain]
Saving to: ‘card.asc’

card.asc            100%[===================>]  30.85K  --.-KB/s    in 0.005s

2022-11-16 07:50:29 (5.90 MB/s) - ‘card.asc’ saved [31588/31588]

2. Ejecutar el CREATE

In [ ]:
con.execute('CREATE TABLE IF NOT EXISTS CARD (card_id INT PRIMARY KEY, disp_id INT, type TEXT, issued INT, '
      + 'FOREIGN KEY (disp_id) REFERENCES disposition (disp_id))')
con.commit()

3. Cargar los datos

In [ ]:
pd.read_csv('card.asc', sep = ";" ).to_sql('CARD', con, if_exists='append', index = False)

4. Comprobar la creación y la carga

In [ ]:
pd.read_sql_query("SELECT * FROM CARD LIMIT 10", con)

   card_id  disp_id     type           issued
0     1005     9285  classic  931107 00:00:00
1      104      588  classic  940119 00:00:00
2      747     4915  classic  940205 00:00:00
3       70      439  classic  940208 00:00:00
4      577     3687  classic  940215 00:00:00
5      377     2429  classic  940303 00:00:00
6      721     4680   junior  940405 00:00:00
7      437     2762  classic  940601 00:00:00
8      188     1146  classic  940619 00:00:00
9       13       87  classic  940629 00:00:00

### Tabla Permanent Order

1. Descarga de los datos

In [ ]:
!wget https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/order.asc

--2022-11-23 22:48:27--  https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/order.asc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 273800 (267K) [text/plain]
Saving to: ‘order.asc’

order.asc           100%[===================>] 267.38K  --.-KB/s    in 0.03s

2022-11-23 22:48:27 (8.43 MB/s) - ‘order.asc’ saved [273800/273800]

2. Creación de la tabla

In [ ]:
con.execute("CREATE TABLE PERMANENT_ORDER (order_id INT PRIMARY KEY, account_id INT,	bank_to TEXT, "
	"account_to TEXT, 	amount DECIMAL,	k_symbol TEXT,"
  "FOREIGN KEY (account_id) REFERENCES account (account_id))")
con.commit()

3. Carga de los datos a la tabla

In [ ]:
pd.read_csv('order.asc', sep = ";" ).to_sql('PERMANENT_ORDER', con, if_exists='append', index = False)

4. Comprobar la tabla

In [ ]:
pd.read_sql_query('SELECT * FROM PERMANENT_ORDER', con)

5. Borrar la tabla en caso de error

In [ ]:
con.execute("DROP TABLE PERMANENT_ORDER")
con.commit()